<!DOCTYPE >
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	data-th-replace="~{layout:: layout(
					titrePage=~{:: title},
					contenuPage=~{:: main},
							linkcss=~{:: link}
					)}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<header>
    <nav>
        <H1>ENI-Enchères</H1>
    </nav>
</header>
<body>
    <h2>Mon Profil</h2>
    <form data-th-object="${Utilisateur}" method="post">
        <ul>
        <li><label for="pseudo">Pseudo</label></li>
        <li><input type="text" placeholder="Pseudo" id="pseudoInput"></li>
        <li><label for="prenom">Prenom</label></li>
        <li><input type="text"placeholder="Prenom" id="prenomInput"></li>
        <li><label for="telephone">Telephone</label></li>
        <li><input type="number"placeholder="Téléphone" id="telephoneInput"></li>
        <li><label for="codePostal">Code Postal</label></li>
        <li><input type="number" placeholder="Code Postal" id="codePostalInput"></li>
        <li><label for="password">Mot de passe</label></li>
        <li><input type="password" placeholder="Mot de passe" id="motDePasseInput"> </li>
        <li><label for="Nom"></label>Nom</li>
        <li><input type="text" placeholder="Nom" id="nomInput"></li>
        <li><label for="email"></label>E-mail</li>
        <li><input type="email" placeholder="koko@gmail.com" id="emailInput"></li>
        <li><label for="rue"></label>Rue</li>
        <li><input type="text"placeholder="Rue" id="rueInput"></li>
        <li><label for="ville"></label>Ville</li>
        <li><input type="text"placeholder="Ville" id="villeInput"></li>
        <li><label for="confirmPassword">Confirmation</label></li>
        <li><input type="password"  id="confirmMotDePasseInput"></li>
        <button id="creer" type="submit" value="Creer">Créer</button>
        <button id="annuler" type="reset">Annuler</button>
    </ul>
    </form>
</body>
</html>